<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @assignment.user %>
</p>

<p>
  <b>Role:</b>
  <%= @assignment.role %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
